body {
    font-family: 'Roboto', sans-serif;
}
.search_bar input{
    width: 318px;
    height: 40px;
    background-color: #FFF;
    border: 1px solid #E8E8EF;
    box-sizing: border-box;
    box-shadow: 0px 2px 8px rgba(34,34,87,0.05);
    border-radius: 5px;
    text-indent: 35px;
    font-family: Roboto;
    font-size: 16px;
}
.search_bar img {
    position: absolute;
    margin-top: 10px;
    width: 18px;
    margin-left: 12px;
}  
.block_text {
    font-size: 20px;
    font-family: Roboto;
    font-weight: bold;
    color: #393C44;
    margin: 16px 0px;
}  
::-webkit-input-placeholder { 
    color: #C9C9D5;
  }
  
  :-ms-input-placeholder { 
    color: #C9C9D5
  }
  
  ::placeholder {
    color: #C9C9D5;
  }
  .flow_section {
      background-color: #fbfbfb;
    padding: 70px 0px 0 27vw;
  }
  .close_btn {
    position: absolute;
    margin-left: 340px;
    background-color: #FFF;
    border-radius: 0px 5px 5px 0px;
    border-bottom: 1px solid #E8E8EF;
    border-right: 1px solid #E8E8EF;
    border-top: 1px solid #E8E8EF;
    width: 53px;
    height: 53px;
    text-align: center; 
    z-index: 10;
}
.close_btn img {
    margin-top: 15px
}