header {
    height: 71px;
    background-color: #FFF;
    border: 1px solid #E8E8EF;
    width: 100%;
    display: table;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 9;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}
.left_bar{
    display: flex;
}
.left_bar .back_btn{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: #F1F4FC;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    margin-top: 12px;
    margin-right: 10px;
    cursor: pointer;
}
.header_text h3{
    font-weight: 500;
    font-size: 16px;
    color: #393C44;
    margin-bottom: 0px;
}
.header_text p{
    color: #808292;
    font-size: 14px;
    margin-top: 5px;
}
.diagram_view{
    border: 1px solid #E8E8EF;
    background-color: #FBFBFB;
    width: 111px;
    height: 39px;
    line-height: 39px;
    border-radius: 5px 0px 0px 5px;
    color: #393C44;
    display: inline-block;
    font-size: 14px;
    text-align: center;
}
.code_editor{
    color: #808292;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #E8E8EF;
    height: 39px;
    width: 102px;
    display: inline-block;
    font-size: 14px;
    line-height: 39px;
    text-align: center;
}
.center_bar, .right_bar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.discard{
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    color: #A6A6B3;
    width: 95px;
    height: 38px;
    border: 1px solid #E8E8EF;
    border-radius: 5px;
    text-align: center;
    line-height: 38px;
    display: inline-block;
    vertical-align: top;
    transition: all .2s cubic-bezier(.05,.03,.35,1);
}
.discard:hover {
    cursor: pointer;
    opacity: .7;
}
.publish {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    color: #FFF;
    background-color: #217CE8;
    border-radius: 5px;
    width: 143px;
    height: 38px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 38px;
    margin-right: 20px;
    transition: all .2s cubic-bezier(.05,.03,.35,1);
}
.publish:hover {
    cursor: pointer;
    opacity: .7;
}